

#product-overview {
    background: url("./Images/freedom.jpg");
    padding: 10px;
    width: 100%;
    height: 528px;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan__list {
    width: 80%;
    text-align: center;
    margin: auto;
}

.plan {
    display: inline-block;
    width: 30%;
    margin: 8px;
    padding: 16px;
    text-align: center;
    background-color: lightgreen;
    vertical-align: center;
}

.plan--highlighted {
    color:white;
    background-color: green;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);
}

.plan__annotation {
    background-color: white;
    color: green;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 8px;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 8px 0;
    padding: 2px 0;
}

.plan__title {
    color: darkgreen;
}

.plan__price {
    color: gray;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: white;
}


#key-features {
    background-color: lime;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: darkgreen;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


.key-feature {
    display: inline-block;   
    width: 30%; 
    vertical-align: top;
}

.key-feature__description {
    margin: 12px;
    padding: 8px;
    font: inherit;
    font-weight: bold;
}

.key-feature__image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border-color: lightgray;
    background-color: blue;
    margin: auto;
}
