

#product-overview {
    background: url("./Images/freedom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 50% bottom 80%;
    background-origin: border-box;
    background-clip: border-box;
    padding: 0.6rem;
    width: 100vw;
    height:33vh;
    margin-top: 4rem;
    position: relative;
}

.product-slogan {
    position: absolute;
    bottom: 4%;
    left: 2%;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 1.6rem;
}



.plan {
    width: 100%;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    background-color: lightgreen;
    min-width: 13rem;
    max-width: 25rem;
    margin: auto;
}

.plan--highlighted {
    color:white;
    background-color: green;    
}

.plan__annotation {
    background-color: white;
    color: green;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 0.5rem;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
    padding: 0.1rem 0;
}

.plan__title {
    color: darkgreen;
}

.plan__price {
    color: gray;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: white;
}


#key-features {
    background-color: lime;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: darkgreen;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}




.key-feature__description {
    margin: 0.7rem;
    padding: 0.5rem;
    font: inherit;
    font-weight: bold;
}

.key-feature__image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border-color: lightgray;
    background-color: blue;
    margin: auto;
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }

@media (min-width: 40rem) {
    #product-overview {
        height: 50vh;
    }

    #product-overview h1 { 
        font-size: 2rem;
    }

    .plan {
        width: 30%;
        vertical-align: center;
        display: inline-block;
    }

    .plan__list {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .plan--highlighted {
        box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);
    }

    .key-feature {
        display: inline-block;   
        width: 30%; 
        vertical-align: top;
    }

}