main {
    padding-top: 1rem;
    margin-top: 3rem;
}

.signup-title  {
    margin-top: 2rem;
    text-align: center;
    color: #ff5454;
    font-size: 1.8rem;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    width: 100%;   
    margin: 0.2rem;
    padding: 0.2rem; 
    font-family: inherit;
    outline-color: green;
} 

.signup-form input:invalid,
.signup-form select:invalid {
    background-color: lightcoral;
} 

.signup-form input:focus,
.signup-form select:focus {
    background-color: lightgreen;
} 

.signup-form {
    padding: 1rem;
}

.signup-form * {
    margin: 0.5rem;
}

.signup-form label {
    font-weight: bold;
}

.signup-form input[id*="terms"],
.signup-form label[for*="terms"] {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.signup-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
}

.signup-form input[type="checkbox"] {
    border: red;
    background:lightcoral;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
}

.signup-form input[type="checkbox"]:checked {
    border: 2px solid green;
    background:radial-gradient(circle, darkgreen, lightgreen, transparent);
}

@media (min-width: 40rem) {
    .signup-form {
        width: 70%;
        margin: auto;
    }
}